.gradle
build/
eclipse/
run/
out/
*.iml
*.iws
*.ipr

bin/
libs/
.metadata
.classpath
.settings
.project
CREDITS-fml.txt
eclipse/
LICENSE-fml.txt
/bin/*
/.gradle/*
/build
MinecraftForge-Credits.txt

MinecraftForge-License.txt

README.txt

forge-1.7.10-10.13.4.1448-1.7.10-changelog.txt

*.mca
/eclipse/*
/forge-1.7.10-10.13.2.1230-src/*
